<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="userName" value="nafisha13"></parameter>
	<parameter name="password" value="636978"></parameter>
		<parameter name="first_name" value="Arpit"></parameter>
	<parameter name="last_name" value="singh"></parameter>
	<parameter name="address" value="No.12,Masjid Street,Chennai"></parameter>
	<parameter name="cc_num" value="4915293070636978"></parameter>
  <test thread-count="5" name="Test">
	  <classes><class name="demo.Mycode"></class></classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
